
 <ion-header>

  <ion-toolbar color="primary">
        
        <!-- <div  class="pull-right display-inline">    
       
    </div> -->
      <!-- <ion-title>Budget Planner </ion-title> -->
      <!-- <span class="fa fa-user"></span> -->
      <div class="header-icon-btns pull-right">
            <span >
            
                    <img src="../../../assets/user1.jpg" class="img-circle" alt="Cinque Terre" width="40" height="35"> 
    
                
                <!-- <span 
                    class="clickable header-logo"
                    style="pointer-events: none;">
                   Claim module (ACM)
                </span> -->
            </span>

          <div class="user-name clickable pull-left" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="userMenu" >
              
            <span class="name"><div class=" header-user-icon"></div>
             Mohammed </span>
          <div class=" open-user-details  m-r-5" style="margin-top:-16px;"><span class="fa fa-angle-down"></span></div>


          <mat-menu #userMenu="matMenu">
              <div class="user-details p-l-5 p-r-5">
                  <div class="b-b p-10 clearfix" routerLink='/community/profile'>
                      <!-- <div class=" icon-account profile-action clickable icon-settings  pull-left"></div> -->
                      <div class="fa fa-user pull-left profile-action">

                      </div>
                      <div class="user-details-title">
                          <span>Mohammed</span>
                          <br>
                          <span class=" user-details-subtitle">View Profile</span>
                      </div>

                  </div>
                  <!-- <div class="b-b p-5 clearfix">

                      <div class="user-details-title">
                          <span>Last Login:</span>
                          <br>
                          <span class=" user-details-subtitle">Sat Jan 12 2019 10:40:12</span>
                      </div>

                  </div> -->
                  <div class="b-b p-10 clearfix clickable" routerLink="">

                      <div class="" >
                        Account Settings
                      </div>

                  </div>
                  <div class=" p-10 clearfix clickable" >

                      <div class="" >
                          Logout
                      </div>

                  </div>
              </div>
          </mat-menu>


      </div>


      </div>
    <!-- <button mat-button [matMenuTriggerFor]="menu">مرحبا عصام</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>بيانات الموظف</button>
      <button mat-menu-item> خروج</button>
    </mat-menu> -->
    
  </ion-toolbar>
 </ion-header>
    