.main-header {
padding: 11px 7px; // background: linear-gradient(90deg, #097077, #0daaaf);
background-color: brown;
width: 100%; // overflow: hidden;
display: block;
position: fixed;
z-index: 999;
top: 0px;
transition: height 2s ease-in-out;
height: 50;
}

.header-icon-btns {
    height: fit-content;
    background: transparent;
    border: none;
    width: auto;
    margin-right: 18px;
    // @include bp(baby-bear) {}
    // @include bp(desktop) {
    //     display: inline;
    // }
    .header-action {
        width: 30px;
        height: 30px;
        border-color: white;;
        color:  white;;
        display: inline-block;
    }
    .header-action-circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-color: white;
        color: white;
        display: inline-block;
        border: 2px solid white;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding-right: 1px;
        [class*="icon-"] {
            font-size: 15px;
        }
    }
    .user-name {
        height: 30px;
        float: right;
        border-radius: 35px;
        padding: 2px 10px 3px 13px;
        background: rgba(8, 8, 8, 0.35) !important;
        width: 135px;
        .name {
            color: white;
            font-size: 14px;
            margin-left: 15px;
        }
        .open-user-details {
            color: white;
            vertical-align: middle;
            font-size: 19px;
            line-height: 12px;
        }
        &:hover {
            .user-details {
                display: block;
            }
        }
    }
}
.clickable {
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
.header-user-icon {
    font-size: 12px;
}
.user-details {
    width: 251px;
    background: white;
    .profile-action {
        margin-top: -2px;
        margin-right: 10px;
        overflow: hidden;
        font-size: 18px;
        border-radius: 50%;
        border: solid 1px  #454c53;
        padding: 3px 8px;
    }
    .user-details-title {
        line-height: 1.1;
        .user-details-subtitle {
            font-size: 10px;
        }
    }
}
$brand-grey-borders: #cdcdcd;
.b-b {
    border-bottom: solid 1px $brand-grey-borders !important;
}
.m-l-5{
    margin-left: 5px !important;
}
.p-l-5 
{
 padding-left: 5px !important;
}
.p-r-5{
    padding-right: 5px !important;

}
.p-10{
    padding: 10px !important;
}
.header-logo
{
    height: 37px;
    vertical-align: middle;
    float: left;
    margin-top: -6px;
    margin-left: 13px;
    padding: 10px;
}
.display-inline {
    display: inline-block;
}
.img-circle{
      border-radius: 50%;
      margin-right: 5px;
}
