<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <mat-card style="width: 80%;align-self: center;">
        <form>
          <ion-grid>

            <ion-row>
              <ion-col size="12" offset="2" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="رقم الموظف" value="">
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field>
                  <mat-label>اسم الموظف</mat-label>
                  <mat-select>
                    <mat-option value="option1">Ahmed</mat-option>
                    <mat-option value="option2">Diaa</mat-option>
                  </mat-select>
                </mat-form-field>

              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" offset="2" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field>
                  <mat-label>نوع الأجازة</mat-label>
                  <mat-select>
                    <mat-option value="option1">اعتيادية</mat-option>
                    <mat-option value="option2">مرضية</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field>
                  <mat-label>الدفع المقدم</mat-label>
                  <mat-select>
                    <mat-option value="option1">..</mat-option>
                    <mat-option value="option2">...</mat-option>
                  </mat-select>
                </mat-form-field>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <div class="m-t">
                  <ngbd-datepicker-islamicumalqura label='من تاريخ'></ngbd-datepicker-islamicumalqura>

                </div>

              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="عدد ايام" value="">
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input type="number" matInput placeholder="الي تارخ" value="" disabled>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="الرصيدالسابق" value="" disabled>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="الرصيدالحالي" value="" disabled>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="الرصيد المستحق" value="" disabled>
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="الرصيد المستهلك" value="" disabled>
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input type="number" matInput placeholder=" خصم من الرصيدالسابق" value="">
                </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field class="example-full-width">
                  <input type="number" matInput placeholder="خصم من الرصيد الحالي" value="">
                </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                    <div class="m-t">
                      <ngbd-datepicker-islamicumalqura label='تاريخ ايقاف الراتب من'></ngbd-datepicker-islamicumalqura>
    
                    </div>
    
                  </ion-col>
                  <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                      <div class="m-t">
                        <ngbd-datepicker-islamicumalqura label='ال تاريخ'></ngbd-datepicker-islamicumalqura>
      
                      </div>
      
                    </ion-col>
                    <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="عدد ايام الموقوف" value="" disabled>
                        </mat-form-field>
                      </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">

                    <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="رقم التقرير الطبي" value="">
                      </mat-form-field>
              </ion-col>
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                  <div class="m-t">
                    <ngbd-datepicker-islamicumalqura label='تاريخ التقرير'></ngbd-datepicker-islamicumalqura>
  
                  </div>
  
                </ion-col>
                <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">

                    <mat-form-field class="example-full-width">
                        <input  matInput placeholder="الموافق" value="" disabled>
                      </mat-form-field>
              </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">

                    <mat-form-field class="example-full-width">
                        <input  matInput placeholder="مصدر التقرير" value="" >
                      </mat-form-field>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-button color="primary">ارسال</ion-button>
            </ion-row>
          </ion-grid>
        </form>
      </mat-card>
    </ion-row>
  </ion-grid>

</ion-content>