<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-card>
        <form>
          <ion-grid>
            <ion-row>
              <!-- size="12" size-xs="12" size-sm="6"  size-md="4"  size-lg="3"  -->
              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="رقم الموظف" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="اسم الموظف" value="">
                </mat-form-field>

               
          
              </ion-col>

              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
                <mat-form-field>
                  <mat-label>نوع الحركة</mat-label>
                  <mat-select>
                    <mat-option value="option1">طلب إجازة</mat-option>
                    <mat-option value="option2">تعديل</mat-option>
                    <!-- <mat-option value="option3">/mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label> حالة الحركة</mat-label>
                  <mat-select>
                    <mat-option value="option1">مدخلة</mat-option>
                    <mat-option value="option2">مرسلة</mat-option>
                    <!-- <mat-option value="option3">/mat-option> -->
                  </mat-select>
                </mat-form-field>
              </ion-col>


              <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">

                  <mat-form-field>
                      <mat-label>نوع الأجازة</mat-label>
                      <mat-select>
                        <mat-option value="option1">اعتيادية</mat-option>
                        <mat-option value="option2">مرضية</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </ion-col>
             <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="4">
               <ngbd-datepicker-islamicumalqura></ngbd-datepicker-islamicumalqura>

             </ion-col>
              


             
            </ion-row>
            <ion-row>
              <button mat-stroked-button color="primary">إستعلام</button>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card>
    </ion-row>


    <ion-row justify-content-center>
     
      <!-- <ion-card style="    margin-bottom:25px;margin-top:25px;width: 80%;align-self: center;">
          <ion-list>
            <ion-list-header>
              <ion-grid style="padding-right: inherit;text-align: center;font-weight: bold;">
                <ion-row>
                    <ion-col size="2">
                      نوع الأجازة
                    </ion-col>
                    <ion-col size="2">
                      عدد الأيام
                    </ion-col>
                    <ion-col size="2">
                      من تاريخ
                    </ion-col>
                    <ion-col size="2">
                      إلى تاريخ
                    </ion-col>
                    <ion-col size="1">
                       تعديل 
                    </ion-col>
                    <ion-col size="1">
                       متابعة  
                    </ion-col>
                    <ion-col size="1">
                      تحديث 
                    </ion-col>
                    <ion-col size="1">
                       تفاصيل 
                    </ion-col>
                  </ion-row>
                </ion-grid>
        </ion-list-header>
              <ion-grid style="text-align: center;">
                <ion-row >
                  <ion-col size="2">
                    إعتيادية
                  </ion-col>
                  <ion-col size="2">
                    5 أيام
                  </ion-col>
                  <ion-col size="2">
                    10-03-1419
                  </ion-col>
                  <ion-col size="2">
                    20-03-1419
                  </ion-col>
                  <ion-col size="1">
                    <ion-button routerLink=""> تعديل </ion-button>
                  </ion-col>
                  <ion-col size="1">
                    <ion-button routerLink="/home/status"> متابعة  </ion-button>
                  </ion-col>
                  <ion-col size="1">
                    <ion-button> تحديث </ion-button>
                  </ion-col>
                  <ion-col size="1">
                    <ion-button> تفاصيل </ion-button>
                  </ion-col>
                </ion-row>

              </ion-grid>
      
          </ion-list>
       </ion-card> -->
       <p-table [value]="cars">
        <ng-template pTemplate="header">
            <tr>
                <th>Vin</th>
                <th>Year</th>
                <th>Brand</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car>
            <tr>
                <td>{{car.vin}}</td>
                <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td>
            </tr>
        </ng-template>
    </p-table>

    </ion-row>
  </ion-grid>
</ion-content>