<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row style="    text-align: center;
  justify-content: center;">

      <mat-card class="loginCard">
        <ion-card-content>

          <ion-grid>

            <ion-row>
              <ion-col>
                <div style="    font-size: 20px;
                      font-weight: bold;
                      color: #c7a743;">دخول مستخدم
                </div>
              </ion-col>

            </ion-row>
            <ion-row>
              <ion-col>
                <form>
                  <ion-list>
                    <ion-item style="font-weight: bold;">
                      <ion-icon name="person" style="margin: 7px;"></ion-icon>
                      <ion-input placeholder="رقم الموظف "></ion-input>
                    </ion-item>

                    <ion-item style="font-weight: bold;">
                      <ion-icon name="unlock" style="margin: 7px;"></ion-icon>
                      <ion-input type="password" placeholder="كلمة المرور"></ion-input>
                    </ion-item>

                    <ion-item style="font-weight: bold;">
                      <ion-icon name="phone-portrait" style="margin: 7px;"></ion-icon>
                      <ion-input placeholder="كود التعريف"></ion-input>
                      <ion-button style=""> ارسل الكود </ion-button>
                    </ion-item>
                  </ion-list>
                </form>

                <ion-button routerLink="/home" style="font-weight: bold;
            width: 197px;
            margin-top: 21px;"> تسجيل دخول

                  <ion-icon slot="start" name="log-in" style="margin: 7px;"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-card-content>
      </mat-card>

    </ion-row>
  </ion-grid>
</ion-content>