
<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="end"> -->
            <!-- <ion-button style="--color: var(--ion-color-secondary-tint)"
            routerLink="./">الرئيسية</ion-button> -->
  
            <!-- <ion-back-button style="--color: var(--ion-color-secondary-tint)"> </ion-back-button>
          </ion-buttons>
      <ion-title>الأجازات</ion-title>
  
    </ion-toolbar>
  </ion-header> -->
  
<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="top" style="">
        <ion-tab-button routerLink="/home/request" >
          <ion-icon  name="calendar" ></ion-icon>
          <ion-label class="tabBTNTxt">طلب جديد</ion-label>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>
  
        <ion-tab-button routerLink="/home/search">
          <ion-icon  name="search" ></ion-icon>
          <ion-label class="tabBTNTxt">استعلام</ion-label>
        </ion-tab-button>
  
        <ion-tab-button routerLink="/home/balance">
          <ion-icon  name="map" ></ion-icon>
          <ion-label class="tabBTNTxt">رصيد اجازات</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>