
.cardIcon{
    font-size: 40px;
}

.cardDesc{
    font-size: 22px;
    font-family: "Open Sans",sans-serif;
    text-align: center;
    width: 100%;
    font: status-bar;
    font-weight: 500;
}

.caardTitle{
    font-weight: 500;
}

.badge{
    color: ghostwhite;
    background: darkred;
    border-radius: 100%;
    margin-right: 37px;
    position: fixed;
    top: 124px;

}

.card{
    min-width: 254px;
    margin: 16px;            
}