<ion-content>
  <ion-grid class="ion-padding" fixed>
    <ion-col></ion-col>
    <ion-row>
      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/vacation"  >
        
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <h1 class="ion-padding caardTitle">الأجازات</h1>
                <ion-icon class="cardIcon" name="albums"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> طلب او تعديل واستعلام عن الأجازات </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>


      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle">البريد</h1>
                <ion-icon class="cardIcon" name="mail"></ion-icon>
                <ion-badge class="badge">
                  <div style="padding: 4px;">22</div>
                </ion-badge>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> موافقات طلبات الأجازات والإنتدابات </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>



      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle">انتدابات</h1>
                <ion-icon class="cardIcon" name="share-alt"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> طلب واستعلام عن الإنتدابات </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>



      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle"> الحضور والإنصراف </h1>
                <ion-icon class="cardIcon" name="finger-print"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> بيانات الحضور والإنصراف </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>


      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle">خطاب التعريف</h1>
                <ion-icon class="cardIcon" name="paper"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> إستخراج طلبات التعريف</div>
            </ion-row>
          </ion-grid>
        
      </mat-card>


      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle">الراتب الشهرى</h1>
                <ion-icon class="cardIcon" name="cash"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> تفاصيل واستعلام الراتب الشهرى </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>


      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/settings"  >
        
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <h1 class="ion-padding caardTitle">بيانات الموظف</h1>
                <ion-icon class="cardIcon" name="settings"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc"> بيانات وإعدادات المستخدم </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>


      <mat-card  class="card" matRipple  [matRippleCentered]="centered"  routerLink="/home/mail"  >
        
          <ion-grid>
            <ion-row>

              <ion-col class="ion-text-center">

                <h1 class="ion-padding caardTitle">  كلمة المرور</h1>
                <ion-icon class="cardIcon" name="unlock"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <div class="cardDesc">    لتغيير كلمة المرور </div>
            </ion-row>
          </ion-grid>
        
      </mat-card>

    </ion-row>
  </ion-grid>
</ion-content>