button {
    width: 80px;
    height: 35px;
    background: linear-gradient(to bottom, #353c83 0%,#353c83 100%); /* W3C */
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #353c83;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
    cursor: pointer;
  
  /* Just for presentation */  
    display: block;
    margin: 0 auto;
  }
  button:active {
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
    top: 1px;
  }
  
  button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #353c83;
    border-bottom: 20px solid #353c83;
    border-left: 16px solid transparent;
    border-right: 20px solid #353c83;
    position: absolute;
    opacity: 0.6; 
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;  
  }
  
  /* Button pointing left */
  
  button.back {
    text-align: right;
    padding-right: 18px;
    box-sizing: border-box;
  }
  button.back:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-bottom: 14px solid #353c83;
    border-right: 16px solid #353c83;
    position: absolute;
    opacity: 0.6; 
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;    
  }