<ion-app>
<ion-header>
  <main-header></main-header>

  
</ion-header>
<div style="padding: 3px">
    <ion-buttons slot="start">
      
        <button class="back" (click)="goBack()" style="margin-right: 1300px;">Back</button>
      </ion-buttons>
</div>

<ion-content >
  
    
  
  <ion-router-outlet>
    
  </ion-router-outlet>
 
</ion-content>

</ion-app>